<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Desktop.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AuthAPI" value="http://localhost:5700" />
    <add key="UserManagementAPI" value="http://localhost:5800" />
    <add key="RecipeAPI" value="http://localhost:5900" />
    <add key="MedicineAPI" value="http://localhost:6000" />
    <add key="InstitutionsAPI" value="http://localhost:6100" />
    <add key="UpdateInterval" value="28" />
    <add key="ApiToUi" value="UI_Map\ApiToUi.xml"/>
    <add key="UiToApi" value="UI_Map\UiToApi.xml"/>
    <add key="RecipeIcon" value="Images\RecipeIcon.ico"/>
    <add key="doctor" value="Images\doctor.png"/>
    <add key="pharmacist" value="Images\pharmacist.jpg"/>
    <add key="patient" value="Images\patient.png"/>
    <add key="none" value="Images\none.jpg"/>
    <add key="GeocodePath" value="http://maps.googleapis.com/maps/api/geocode/xml"/>
  </appSettings>
  <userSettings>
    <Desktop.User>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
    </Desktop.User>
  </userSettings>
</configuration>
